@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Oswald:wght@200;300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d2026; 
    color: white;
}

.user-info p{
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: -8px;
    color: #848482;
}
.user-info .rank{
    font-family: 'Oswald', sans-serif;
    color: #848482;
    font-size: 1rem;
}

.user-history table {
    font-size: 14px;
    width: 100%;
    display: table;
    border: none;
    color: #b8c6cc;
}

.user-history table tr td:first-child{
    width: 50%;
}

.actions a{
    font-size: 22px;
}
.actions a i:hover{
    color: #ffffff;
}



.links a{
    text-decoration: none;
    color: #c0c0c0;
    transition: .2s ease-in-out;
}

.links a:hover{
    background-color: #464646;
    border-radius: 3px;
}

.line{
    height: 1px;
    background-color: #c0c0c0;
    margin-top: 3px;
    margin-bottom: 3px;
}

.tag{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.create-prob{
    background-color: transparent;
    border: 1px solid #c0c0c0;
    color: #C0C0C0;
    border-radius: 5px;
    transition: .2s ease-in-out;

}

.create-prob:hover{
    background-color: #464646;
}

.lists a{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #c0c0c0;
    transition: .2s ease-in-out;
}
.lists a:hover{
    background-color: #464646;
    border-radius: 3px;
}
.linex{
    height: .5px;
    background-color: #464646;
    margin-top: 3px;
    margin-bottom: 3px;
}
@media (max-width: 992px) {
    .cardss {
        display: block;
    }

    .cardx {
        margin-bottom: 10px;
        width: auto;
    }
}

@media (max-width: 767px) {
    .cardss {
        display: block;
        margin-top: 10px;
    }
}
